<%= link_to 'All Books', '/books' %>
<%= link_to 'All Authors', '/authors' %>

<h1>All Books</h1>

<% @books.each do |book|%>
  <% if book.fictitious == true %>
    <h3><%= book.name  %></h3>
<%= link_to "Update #{book.name}", "/books/#{book.id}/edit" %>
  <% end %>
<% end %>
